.navbar-inverse{
  background-color:rgba(238, 151, 51, 0.815);
}

.navbar-inverse .navbar-nav>.active>a{
  background-color:rgb(133,
   92, 5);
}

.navbar-inverse .navbar-nav>li>a{
  color:white;
}

.navbar-inverse .navbar-brand{
  color:white;
}
.navbar-inverse .navbar-nav>.active>a:hover{
  background-color:darkorange;
}
